<div class="row">
  <div class="col-12">
    <div class="top-page">
      <a routerLink="/categories/add" type="button" class="btn table-action-btn">
        Add new
      </a>
    </div>
  </div>
  <div class="col-12 mb-4">
    <div class="form-group">
      <label>
        * Search
      </label>
      <input matInput
             (keyup)="next($event.target)"
             type="text"
             class="form-control"
             placeholder="Category  , Name , Description">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="query-inbox-right-badge right-badge">
        <span>Categories</span>
      </div>
      <div class="col-12">

        <table datatable class="row-border hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Visability</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td>{{item.name}}</td>
            <td>
              <i class="fa fa-check green" *ngIf="item.isActive"></i>
              <i class="fa fa-times red" *ngIf="!item.isActive"></i>
            </td>
            <td>
              <a class="btn table-btn" routerLink="/categories/{{item.id}}/edit">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn table-btn" (click)="openDeleteDialog(item.id)">
                <i class="fa fa-trash"></i>
              </a>
              <label class="switch customSwitch">
                <input type="checkbox" [checked]="item.isActive" (change)="changeStatus(item.id)" >
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
