<header>
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a style="display: none" class="navbar-brand" href="index.html">
        <img alt="image" src="assets/images/logo.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
              aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="messages">
              <div class="position-relative">
                <div class="personal notifications">
                  <div class="dropdown show">
                    <div class="dropdownMenuLink" role="button" id="dropdownMenuLinkNotifications"
                         data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                      <img width="20" alt="icon"
                           src="./assets/images/bell.png">
                      <span class="d-flex justify-content-center align-items-center count">3</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="personal">
              <div class="dropdown show">
                <div class="dropdownMenuLink" role="button" id="dropdownMenuLinkProfile"
                     data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                  <img alt="icon" src="assets/images/account.svg">
                  <span class="m-2 userName">User</span>
                  <img class="down-arrow" alt="arrow"
                       src="assets/images/down-arrow.svg">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
