<app-header></app-header>
<app-menu></app-menu>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 position-relative">
        <router-outlet></router-outlet>
        <div class="loading-overlay" *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <div class="col-md-3 tree-container">
        <div class="tree">
          <img alt="image" src="assets/images/tree.svg">
        </div>
      </div>
    </div>
  </div>
</div>


