<div class="sidenav">
  <div class="sidenav-logo col-12 text-center pt-2 pb-2">
    <a href="index.html">
      <img width="100" alt="logo" src="assets/images/logo.jpg">
    </a>
  </div>
  <div class="pt-2">
    <div class="item">
      <a routerLink="categories" class="dropdown-btn text-white" [ngClass]="{'active':active('categories')}">
        categories
        <img class="dropdown-icon" alt="image" src="./assets/images/inquery.svg">
      </a>
    </div>
    <div class="item">
      <a routerLink="courses" class="dropdown-btn text-white" [ngClass]="{'active':active('courses')}">
        courses
        <img class="dropdown-icon" alt="image" src="./assets/images/inquery.svg">
      </a>
    </div>
  </div>
</div>
