/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 61, 100, 1);
  overflow-x: hidden;
  padding-top: 5px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10px 40px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:focus {
  outline: none;
}

/* On mouse-over */
.sidenav a,
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main, header {
  margin-right: 260px;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .active {
  background: #14A99B;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container a {
  padding-left: 75px;
  transition: .100ms all ease-in-out;
}

.dropdown-container a:hover, .dropdown-btn:hover  {
  background: #14A99B !important;
}

.dropdown-container .active, .dropdown-btn.active {
  background: #14A99B !important;
}

.dropdown-container:after {
  content: '';
  height: 100%;
  background: rgba(255, 255, 255, .5);
  width: 2px;
  position: absolute;
  left: 50px;
  top: 0;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-btn.active .arrow {
  transition: .1s all ease-in-out;
  transform: rotate(-90deg);
}

.dropdown-btn .arrow {
  float: right;
  position: relative;
  top: 7px;
  width: 13px;
  height: 12px;
}

.dropdown-btn .dropdown-icon {
  float: left;
  position: relative;
  top: -3px;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    padding: 15px 0;
  }

  .main, header {
    margin: 0;
  }

  .sidenav-logo {
    display: none;
  }
}


